<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">FoodForum</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li *ngIf="!$isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a></li>
        <li *ngIf="$isAuthenticated" class="nav-item">
          <a href="#" class="nav-link" (click)="logout()">Logout</a></li>


      </ul>
    </div>
  </div>
</nav>
