
<div class="row">
  <div class="col-sm-4 mx-auto">
    <h1 class="text-center register-title">Register</h1>
    <div class="account-wall">
      <form class="form-signin">
        <input type="text" class="form-control login" [(ngModel)]="tempUser.username" name="username" placeholder="Login" autofocus/>
        <input type="password" class="form-control password" [(ngModel)]="tempUser.password" name="password" placeholder="Hasło" />
        <button class="btn btn-lg btn-primary btn-block" (click)="register()" type="submit">Confirm</button>
      </form>
    </div>
  </div>
</div>
