<div class="row">
  <div class="col-sm-4 mx-auto">
    <h1 class="text-center login-title">sign in </h1>
    <div class="account-wall">
      <form class="form-signin">
        <input type="text" class="form-control" [(ngModel)]="tempUser.username" name="username" placeholder="Login" autofocus>
        <input type="password" class="form-control" [(ngModel)]="tempUser.password" name="password" placeholder="password">
        <button class="btn btn-lg btn-primary btn-block" (click)="login()" type="submit">sing  in </button>
        <a routerLink="#" class="password-lost">forgot password </a><span class="clearfix"></span>
      </form>
    </div>
    <a routerLink="/register" class="text-center new-account">Create account </a>
